@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');  
@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed&display=swap');
  
  .title{
    font-family: 'Righteous', Tahoma, Geneva, sans-serif;
    font-size: 1.5em;
    color:gray;
  }
  
  .menutitle{
    font-family: 'Righteous', Tahoma, Geneva, sans-serif;
    color: #666;

  }

 .card-title{
  font-family: 'Ubuntu Condensed', sans-serif;
}
.card-title a{
  color: darkred;
}

 .badge-primary {
    color: #fff;
    background-color: #330000;
}


